
<style>
    @media (max-width: 1008px) {
        .prdocut-details {
            padding: 0 24px;
        }
    }
</style>
<div class="Product prdocut-details">
    {{ product.content }}
</div>

{% schema %}
{
    "name": "✨ Product Details",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "✨ Product Details"
        }
    ]
}
{% endschema %}