
.footer-logo-lv {
    max-width: 60px;
    height: auto;
    display: block;
    margin-bottom: 1rem;
}

.Localization-Copyright-wrapper {
    display: flex;
}

.Footer__Localization-lv {
    width: auto;
    margin-right: 1rem;
}

.Footer__Copyright-lv {
    white-space:nowrap;
}

@media only screen and (max-width: 641px) {
    .Localization-Copyright-wrapper {
        flex-direction: column;
    }
}